# requirements.txt

# Core framework for the web app
streamlit==1.33.0

# Data manipulation and reading/writing files
pandas==2.2.1

# Windows API extensions to communicate with SolidWorks (COM/ActiveX)
# Note: This is required to make the connection to the SolidWorks application.
# pywin32
